// Colors
$body-bg: #ebebeb;
$darktheme-bg: #1d1d1d;
$darktheme-color: white;
$darktheme-link: darken($darktheme-color, 10%);
$lighttheme-color: black;
$lighttheme-bg: white;
$border-color: red;
$color-icon: darken($border-color, 25%);


// Fonts
$default-font: 'Roboto', sans-serif;
$html-font-size: 10px;


// Code
$code-bg: #f4f4f4;
$code-border-color: darken($code-bg, 10%);
$code-color: darken($code-bg, 50%);